@font-face {
  font-family: "iconfont"; /* Project id 2960517 */
  src: url('iconfont.woff2?t=1658122952349') format('woff2'),
       url('iconfont.woff?t=1658122952349') format('woff'),
       url('iconfont.ttf?t=1658122952349') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e605";
}

.icon-shanchu:before {
  content: "\e629";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-31liebiao:before {
  content: "\e606";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-icon:before {
  content: "\e652";
}

.icon-sousuo1:before {
  content: "\e607";
}

.icon-fenxiang1:before {
  content: "\e86e";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-xunhuan:before {
  content: "\e623";
}

.icon-bofang2:before {
  content: "\e624";
}

.icon-wenhao1:before {
  content: "\e608";
}

.icon-xiaoxi:before {
  content: "\e711";
}

.icon-tuijian:before {
  content: "\e60a";
}

.icon-duoxunhuan:before {
  content: "\e620";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-jiantou_xiangzuo_o:before {
  content: "\eb92";
}

.icon-jiantou_xiangyou_o:before {
  content: "\eb94";
}

.icon-liebiao1:before {
  content: "\e63d";
}

.icon-zhibo2:before {
  content: "\e63b";
}

.icon-VIP:before {
  content: "\e609";
}

.icon-show_duoxuan:before {
  content: "\e60b";
}

.icon-xiazia:before {
  content: "\e612";
}

.icon-yinlechangpian:before {
  content: "\e683";
}

.icon-shipin:before {
  content: "\e60c";
}

.icon-paihangbang:before {
  content: "\f202";
}

.icon-yunxiazai:before {
  content: "\e603";
}

.icon-fenxiang:before {
  content: "\e650";
}

.icon-ziyuan:before {
  content: "\e659";
}

.icon-liaotian:before {
  content: "\e75e";
}

.icon-xiazai:before {
  content: "\e6f2";
}

.icon-vip:before {
  content: "\e614";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-vip1:before {
  content: "\e65e";
}

.icon-houtui:before {
  content: "\e61d";
}

.icon-weibiaoti--:before {
  content: "\e60f";
}

.icon-24gl-pauseCircle:before {
  content: "\ea6e";
}

.icon-24gl-repeatDot2:before {
  content: "\ea76";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-shuzhuangtu:before {
  content: "\e600";
}

.icon-zanting:before {
  content: "\e601";
}

.icon-rili:before {
  content: "\e602";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-unorderedlist:before {
  content: "\e7f4";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-shouyinji:before {
  content: "\e61e";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-favoriteslist:before {
  content: "\e69b";
}

.icon-zhibo:before {
  content: "\e604";
}

.icon-zhibo1:before {
  content: "\e8c1";
}

